p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0.5rem;
}

.label {
  text-align: left;
}

.photo-card {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  max-width: 328px;
}

.card-bottom {
  padding: 1rem;
}

.card-bottom .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.del-btn {
  color: #dc3545;
  border: 1px solid #dc3545;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0.5rem auto 0;
  width: 50%;
}